body {
    margin: 0px;
    overflow: hidden;
  }
  
  .sphere {
    fill: #c9c9dd;
  }
  
  .country {
    stroke: black;
    stroke-width: 0.05px;
  }
  .country.highlighted {
      stroke-width: 1px;
  }
  
  .country:hover {
    fill: dodgerblue;
  }

  .tick {
      cursor: pointer;
  }

  .tick text {
    font-size: 1em;
    fill: black;
    font-family: sans-serif;
  }
  
  .tick circle, .country-circle {
    fill: dodgerblue;
    fill-opacity: 0.5;
    stroke: black;
    stroke-opacity: 0.5;
    pointer-events:none;
  }

  .legend-title{
    font-size: 2em;
    fill: black;
    font-family: sans-serif;
  }

